/*======== defaults starts =========*/
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
a {
    display: inline-block;
    text-decoration: none;
}
img {
    vertical-align: middle;
}
ul, li {
    list-style: none;
}
.container {
    width: 1290px;
    margin: 0 auto;
}
.fonts--family {
    font-family: 'Inter', sans-serif;
    font-family: 'Philosopher', sans-serif;
}

/*======== defaults end =========*/
/*======== navbar starts =========*/
.navbar {
    width: 100%;
}

.nav__logo {
    width: 20%;
}

.nav__items {
    display: flex;
    align-items: center;
    padding: 30px 0 26px 0;
}

.nav__innerItems {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    width: 60%;
}

.nav__list .nav__linkList {
    display: flex;
}

.nav__list .nav__linkList li {
    padding-right: 36px;
}

.nav__list .nav__linkList li a {
    color: #162C53;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Inter', sans-serif;
}

.nav__contact {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
.nav__contact .nav__login {
    color: #162C53;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Inter', sans-serif;
    padding: 18px 24px ;
    background: #fff;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    margin-left: 40px;
}
.nav__contact .nav__login:hover {
    background: #CABB78;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

/*======== navbar end =========*/
/*======== banner starts =========*/
.banner {
   padding:0 36px;
}

.banner_background {
    background-image: url('/images/BG.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 24px 24px 0px 0px;
    -webkit-border-radius: 24px 24px 0px 0px;
    -moz-border-radius: 24px 24px 0px 0px;
    -ms-border-radius: 24px 24px 0px 0px;
    -o-border-radius: 24px 24px 0px 0px;
}

.banner__contents {
    width: 592px;
    padding: 170px 0px 169px 0px;
}

.banner__contents h2 {
    color: #fff ;
    font-size: 76px;
    font-weight: 700;
    line-height: 86px;
    text-transform: capitalize;
    font-family: 'Philosopher', sans-serif;
}

.banner__contents h2 span {
    color: #CABB78;
}

.banner__contents p {
    color: rgb(255, 255, 255, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    font-family: 'Inter', sans-serif;
    padding: 20px 0 48px 0 ;
}

.banner__contents .banner__contentsButtons {
    display: flex;
}

.banner__contents .banner__contentsButtons .banner_signup {
    background: #fff;
    padding: 18px 24px;
    margin-right: 16px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.banner__contents .banner__contentsButtons .banner_signup:hover {
    background: #CABB78;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.banner__contents .banner__contentsButtons .banner_signup a {
    color: #162C53 ;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.banner__contents .banner__contentsButtons .banner_signup i {
    color: #162C53;
    padding-right: 8px;
}

/*======== banner end =========*/
/*======== searcing starts =========*/

.searcing {
    padding: 0 36px;
}

.searcing__background {
    background-image: url('/images/searcingbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 36px 0px 36px;
    width: 100%;
    border-radius: 0px 0px 24px 24px;
    -webkit-border-radius: 0px 0px 24px 24px;
    -moz-border-radius: 0px 0px 24px 24px;
    -ms-border-radius: 0px 0px 24px 24px;
    -o-border-radius: 0px 0px 24px 24px;
}

.searching_contents {
    padding: 64px 0;
}

.searching_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searching_item h3 {
    color: #162C53 ;
    font-size: 36px;
    font-weight: 700;
    line-height: 86px;
    text-transform: capitalize;
    font-family: 'Philosopher', sans-serif;
}

.searching_item p , .searcing__innertexts p {
    color: #162C53;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.searcing__innerContentsItems {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.searcing__innercontents {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 18px 24px;
    margin:16px 16px 16px 0;
    background: #fff;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    width: 235px;
    /* width depends how i needed, we can use paddings for different items but for time saving we are using width */
}

.searcing__innercontents:nth-child(1) {
    margin-left: 0px;
}

.searcing__innertexts {
    display: flex;
    justify-content: space-between;
}

.searcing__innertexts i {
    margin-right: 8px;
    font-size: 18px;
}

.searcing__button .searcing__button_Link {
    color: #162C53;
    font-size: 18px;
    font-weight: 500; 
    font-family: 'Inter', sans-serif;
    text-transform: capitalize;
    padding: 18px 90px;
    margin:16px 16px 16px 0;
    background: #fff;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px; 
}

.searcing__button .searcing__button_Link:hover {
    color: #CABB78;
    background: #162C53;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

/*======== searcing end =========*/
/*======== eimams starts =========*/
.eimams {
    padding: 127px 0 113px 0;
}

.eimams__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eimams__images {
    width: 40%;
}

.eimams__images .eimams__imgItems {
    width: 458px;
    height: 452px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
}

.eimams__imgItems--jobsbg {
    width: 130px;
    height: 130px;
    background: #fff;
    content: '';
    position: absolute;
    bottom:0 ;
    left: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.eimams__imgItemsJobs {
    width: 108px;
    height: 108px;
    padding: 10px;
    background: #CABB78;
    text-align: center;
    content: '';
    position: absolute;
    bottom:0 ;
    left: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform:translate(10%, -10%);
    -webkit-transform:translate(10%, -10%);
    -moz-transform:translate(10%, -10%);
    -ms-transform:translate(10%, -10%);
    -o-transform:translate(10%, -10%);
}

.eimams__imgItemsJobs p {
    color: #162C53 ;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Philosopher', sans-serif;
  
}

.eimams__imgItemsJobs span {
    color: #162C53;
    font-size: 18px;
    font-weight: 500; 
    font-family: 'Inter', sans-serif;
}

.eimams__contents {
    width: 60%;
}

.eimams__contents h2 {
    color: #162C53 ;
    font-size: 64px;
    font-weight: 700;
    line-height: 83.2px;
    font-family: 'Philosopher', sans-serif;
}

.eimams__contents p {
    color: #162C53;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding: 28px 0 36px 0;
}

.eimams__buttons a {
    color: #162C53;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    padding: 18px 24px;
    background: #CABB78;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.eimams__buttons i {
    margin-left: 8px;
}
/*======== eimams end =========*/
/*======== employers starts =========*/

.employers {
    background: url('/images/employesbg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-bottom: 120px;
}

.employes__contents {
    padding: 120px 0;
}

.employes__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.employes__header h2 {
    color: #162C53 ;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Philosopher', sans-serif;
}

.employe__slickButton {
    display: flex;
}

.prev__button , .next__button {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #162C53;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 8px;
}

.prev__button:hover , .next__button:hover {
    background: #CABB78;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.employes__partner {
    display: flex;
    padding-top: 36px;
}

.employes_partnerImg {
    text-align: center;
    margin:  0px 30px;
}

.employes_partnerImg:nth-child(1) {
    margin-left: 0px;
}

.employe_img {
    width: 270px;
    height: 110px;
    background: #fff;
}

.employes_partnerImg p {
    color: #162C53 ;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Philosopher', sans-serif;
    padding-top: 12px;
}

/*======== employers end =========*/
/*======== signup starts =========*/
.signup_contents {
    display: flex;
    justify-content: space-between;
}

.signUp__inner {
    width: 48%;
    background: #162C53;
    border-radius:21.47px ;
    -webkit-border-radius:21.47px ;
    -moz-border-radius:21.47px ;
    -ms-border-radius:21.47px ;
    -o-border-radius:21.47px ;
}

.sigup_text {
    padding: 89px 56px;
}

.sigup_text h2 {
    color: #fff ;
    font-size: 36px;
    font-weight: 700;
    line-height: 83.2px;
    font-family: 'Philosopher', sans-serif;
}

.sigup_text p {
    color: rgb(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding: 20px 0 36px 0;
    
}

.signup__button a {
    color: #162C53;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding: 18px 24px;
    background: #CABB78;
    border-radius: 100px ;
    -webkit-border-radius: 100px ;
    -moz-border-radius: 100px ;
    -ms-border-radius: 100px ;
    -o-border-radius: 100px ;
}

.signup__button a i {
    margin-right: 8px;
}

.signUp__inner:hover {
    background: #CABB78;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.signUp__inner:hover .sigup_text h2 {
    color: #162C53;
}

.signUp__inner:hover .sigup_text p {
    color: #162C53;
}

.signUp__inner:hover .signup__button a {
    background: #fff;
    color: #162C53;
}
/*======== signup end =========*/
/*======== vedio starts =========*/

.vedio {
    background: #F5F6F8;
    padding: 120px 0 ;
    margin-top: 120px ;
}

.vedio__contents {
    display: flex;
    justify-content: space-between;
}

.vedio__items {
    width: 48%;
}

.vedio__img {
    padding-bottom: 28px;
}

.vedio__itemsSlider {
    display: flex;
    justify-content: center;
}

.vedio__itemsSlider .itemSLider {
    width: 20px;
    height: 8px;
    margin: 0 3px;
    background: #e1e1e1;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.vedio__itemsSlider .itemSLider:hover {
    width: 40px;
    background: #CABB78;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

/*======== vedio end =========*/
/*======== subscribe starts =========*/
.subscribe {
    background: url('/images/subscribebg.png') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 64px 0 65px 0 ;
}
.subscribe__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe__Items {
    width: 30%;
}

.subscribe__Items p{
    color: rgba(22, 44, 83, 0.715);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding-top: 28px;
}

.subscribe__form {
    width: 40%;
}

.subscribe__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 30px 27px 30px;
    background: #fff;
    border: 1px solid #E4E4ED;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.subscribe__link {
    border: none;
}

.subscribe__link  , .subscribe__button {
    color: #8C8C9E;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.subscribe__form .subscribe__button {
    color: #162C53;
    text-transform: capitalize;
    background: #CABB78;
    padding: 16px 26px 16px 25px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
/*======== subscribe end =========*/
/*======== footer starts =========*/

.footer {
    background: url('/images/footerbg.png') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 120px 0;
}

.footer__contents {
    display: flex;
    justify-content: space-between;
}

.footer__items {
    width: 18%;
}

.footer__items:nth-child(1) {
    width: 25%;
}

.footer__items:last-child {
    width: 20%;
}

.footer__header {
    color: #fff ;
    font-size: 26px;
    font-weight: 700;
    line-height: 83.2px;
    font-family: 'Philosopher', sans-serif;
    padding-bottom: 15px;
}

.footer__text--font {
    color: rgba(255, 255, 255, 0.761);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.footer__items ul li {
    padding-bottom: 10px;
}

.footer__items ul li a i {
    color: #CABB78;
    font-size: 14px;
    padding-right: 10px;
}

.footer__items .footer__iconItems {
    display: flex;
    justify-content: space-between;
}
.footer__items .footer__iconItems .footer__icon {
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background:rgba(255, 255, 255, 0.239);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.footer__items .footer__iconItems .footer__icon:hover {
    background: #CABB78;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

/*======== footer end =========*/
/*======== copyrights starts =========*/
.copyrights{
    background: #CABB78;
}

.copyright__contents {
    display: flex;
    justify-content: space-between;
    padding: 23px 0;
}

.copyright__items .footer__text--font{
    color: #162C53;
}

.copyright__bottom {
    background: #162C53;
    padding: 23px 0;
}
/*======== copyrights end =========*/


/*====++++++++++ job page started +++++++++========*/

/* ===========job banner start===========  */
.job__banner {
    background: url('../images/jobBannerbg.png') no-repeat center ;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 100px 0 113px 0;
}
.job__banner_header {
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    font-family: 'Philosopher', sans-serif;
}
.job__banner_paragraph ,.job__banner_link{
    color: rgba(255, 255, 255, 0.815);
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    font-family: 'Inter', sans-serif;
   
}
.job__banner_paragraph--width {
    width: 633px;
    padding-top: 20px;
}
/* ===========job banner end===========  */
/* ===========card start===========  */
.card {
    padding: 100px 0;
}
.card__contents {
    display: flex;
    justify-content: space-between;
    padding: 36px 64px 36px 36px;
    margin-bottom: 28px;
    border: 1px solid #E1E1E1;
    border-radius: 24px;
}
.card__img {
    padding: 96px 54px 96px 53px;
    background: #CABB78;
    border-radius: 24px;
}
.card__img-spacing {
    padding: 72px 73px 72px 71px ;
    background: #162C53;
}
.card__logo-bg {
    background: #162C53;
}
.card__items {
   width: 80%;
   padding-left: 42px;
}
.card__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__time {
    color: #162C53;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    padding: 9px 24px;
    background: #F2F2F2;
}
.card__header {
    color: #162C53;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Philosopher', sans-serif;
}
.card__date {
    color: #162C53;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter', sans-serif; 
}
.card__text {
    color: #8C92A4;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif; 
}
.card__payment {
    font-size: 28px;
}
.card__payment--span {
    color: #8C92A4;
}
.card__link {
    text-decoration: underline;
}
.cardButton__job {
    color: #162C53;
    background: #F5F5F5;
    padding: 9px 24px;
    border-radius:100px;
}
.cardButton__apply {
    color: #CABB78;
    background: #162C53;
    padding: 9px 24px;
    border-radius:100px;
}
.card__spacing {
    padding: 16px 0 46px 0;
}
.card__spacing-heading {
    padding-top: 16px;
}
.cart__button-spacing {
    margin-right: 12px;
}
.carbutton__apply--bg {
    background: #CABB78;
    color: #162C53;
}
.card__slider--flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card_counts{
    padding: 18px 24px;
    background: #F2F2F2;
    border-radius: 100px;
    margin-left: 17px;
}
.card__arrows {
    display: flex;
}
.card__arrow--sizing {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    background: #F5F5F5;
    margin-left: 12px;
}
/* ===========card end===========  */